img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  display: flex;
  list-style-type:none; 
  gap: 20%;
}

nav {
  display: flex;
  width: 100%; 
  gap: 20%; 
  position: fixed; 
  top: 2%;
}

body {
  background-color: rgb(107, 85, 185);
  width: 100%;
  min-height: 100vh;
  color: #222;
  margin: 0;
  padding: 0;
}

main {
  background-color: rgb(107, 85, 185);
  padding: 20px;
  border-radius: 5px;
}

footer {
  background-color: #f0f0f0;
  color: #333333;
  padding: 10px;
  text-align: center;
}

.half {
  background-color: #ffffff;
  width: 50%;
  display: block;
  
}

.inner {
  display: flex;
  gap: 50px;
}

.text-style {
  color: blue;
  font-size: 20px;
  
}

.bold {
  font-weight: bold;
}